# Used by cli and vscode
[flake8]
max-line-length=120
max-complexity = 10
exclude =
    venv,
    build,
    dist
per-file-ignores =
    __init__.py: D100, D101, D102, D103, D104, D106, D107, F401
    /*: D100, D101, D102, D103, D104, D106, D107
